<footer id="auth-footer-container" class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; 2023
          <a href="https://www.ulnooweg.ca/" class="font-weight-bold ml-1" target="_blank">Ulnooweg</a>
          &
          <a href="https://www.ulnoowegeducation.ca/" class="font-weight-bold ml-1" target="_blank">Udevoffice</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="https://www.ulnoowegeducation.ca/" class="nav-link" target="_blank">VixBot - Generative AI
              Assitant</a>
          </li>
          <li class="nav-item">
            <a href="https://udevoffice.com/" class="nav-link" target="_blank">Udevoffice</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
          </li>
          <li class="nav-item">
            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">LMS</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>